
<div class="container col-lg-6 align-items-center">
  <div class="">
    <h2>Your question :</h2>
    <p> > <%=@question%></p>
  </div>
  <div>
    <h2>Coach answer :</h2>
    <p> > <%=@coach_answer%></p>
  </div>

  <div class="btn btn-light text-center">
    <%= link_to "Ask a new question ?", ask_path %>
  </div>

</div>
