
<div class="container col-lg-6 align-items-center">
  <h1 class="d-flex justify-content-center mt-5">Ask to your Coach !</h1>
  <div class="d-flex flex-column text-center">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTgE_VSTY-XjWGcau78okDrUws78RDd8XGY2w&s" class="col-6" alt="Responsive image">
    <form action="/answer" data-turbo="false" class="col-6">
      <input type="text" name="question" class="form-control ">
      <input type="submit" value="Ask!" class="btn btn-light">
    </form>
  </div>
</div>
